.h-a {height: auto;}
.h-00 {height: 0px;}
.h-01 {height:1vh;}
.h-02 {height:2vh;}
.h-03 {height:3vh;}
.h-04 {height:4vh;}
.h-05 {height:5vh;}
.h-06 {height:6vh;}
.h-07 {height:7vh;}
.h-08 {height:8vh;}
.h-09 {height:9vh;}
.h-10 {height:10vh;}
.h-11 {height:11vh;}
.h-12 {height:12vh;}
.h-13 {height:13vh;}
.h-14 {height:14vh;}
.h-15 {height:15vh;}
.h-16 {height:16vh;}
.h-17 {height:17vh;}
.h-18 {height:18vh;}
.h-19 {height:19vh;}
.h-20 {height:20vh;}
.h-21 {height:21vh;}
.h-22 {height:22vh;}
.h-23 {height:23vh;}
.h-24 {height:24vh;}
.h-25 {height:25vh;}
.h-26 {height:26vh;}
.h-27 {height:27vh;}
.h-28 {height:28vh;}
.h-29 {height:29vh;}
.h-30 {height:30vh;}
.h-31 {height:31vh;}
.h-32 {height:32vh;}
.h-33 {height:33vh;}
.h-34 {height:34vh;}
.h-35 {height:35vh;}
.h-36 {height:36vh;}
.h-37 {height:37vh;}
.h-38 {height:38vh;}
.h-39 {height:39vh;}
.h-40 {height:40vh;}
.h-41 {height:41vh;}
.h-42 {height:42vh;}
.h-43 {height:43vh;}
.h-44 {height:44vh;}
.h-45 {height:45vh;}
.h-46 {height:46vh;}
.h-47 {height:47vh;}
.h-48 {height:48vh;}
.h-49 {height:49vh;}
.h-50 {height:50vh;}
.h-51 {height:51vh;}
.h-52 {height:52vh;}
.h-53 {height:53vh;}
.h-54 {height:54vh;}
.h-55 {height:55vh;}
.h-56 {height:56vh;}
.h-57 {height:57vh;}
.h-58 {height:58vh;}
.h-59 {height:59vh;}
.h-60 {height:60vh;}
.h-61 {height:61vh;}
.h-62 {height:62vh;}
.h-63 {height:63vh;}
.h-64 {height:64vh;}
.h-65 {height:65vh;}
.h-66 {height:66vh;}
.h-67 {height:67vh;}
.h-68 {height:68vh;}
.h-69 {height:69vh;}
.h-70 {height:70vh;}
.h-71 {height:71vh;}
.h-72 {height:72vh;}
.h-73 {height:73vh;}
.h-74 {height:74vh;}
.h-75 {height:75vh;}
.h-76 {height:76vh;}
.h-77 {height:77vh;}
.h-78 {height:78vh;}
.h-79 {height:79vh;}
.h-80 {height:80vh;}
.h-81 {height:81vh;}
.h-82 {height:82vh;}
.h-83 {height:83vh;}
.h-84 {height:84vh;}
.h-85 {height:85vh;}
.h-86 {height:86vh;}
.h-87 {height:87vh;}
.h-88 {height:88vh;}
.h-89 {height:89vh;}
.h-90 {height:90vh;}
.h-91 {height:91vh;}
.h-92 {height:92vh;}
.h-93 {height:93vh;}
.h-94 {height:94vh;}
.h-95 {height:95vh;}
.h-96 {height:96vh;}
.h-97 {height:97vh;}
.h-98 {height:98vh;}
.h-99 {height:99vh;}
.h-100 {height:100vh;}

.h-01w {height:1vw;}
.h-02w {height:2vw;}
.h-03w {height:3vw;}
.h-04w {height:4vw;}
.h-05w {height:5vw;}
.h-06w {height:6vw;}
.h-07w {height:7vw;}
.h-08w {height:8vw;}
.h-09w {height:9vw;}
.h-10w {height:10vw;}
.h-11w {height:11vw;}
.h-12w {height:12vw;}
.h-13w {height:13vw;}
.h-14w {height:14vw;}
.h-15w {height:15vw;}
.h-16w {height:16vw;}
.h-17w {height:17vw;}
.h-18w {height:18vw;}
.h-19w {height:19vw;}
.h-20w {height:20vw;}
.h-21w {height:21vw;}
.h-22w {height:22vw;}
.h-23w {height:23vw;}
.h-24w {height:24vw;}
.h-25w {height:25vw;}
.h-26w {height:26vw;}
.h-27w {height:27vw;}
.h-28w {height:28vw;}
.h-29w {height:29vw;}
.h-30w {height:30vw;}
.h-31w {height:31vw;}
.h-32w {height:32vw;}
.h-33w {height:33vw;}
.h-34w {height:34vw;}
.h-35w {height:35vw;}
.h-36w {height:36vw;}
.h-37w {height:37vw;}
.h-38w {height:38vw;}
.h-39w {height:39vw;}
.h-40w {height:40vw;}
.h-41w {height:41vw;}
.h-42w {height:42vw;}
.h-43w {height:43vw;}
.h-44w {height:44vw;}
.h-45w {height:45vw;}
.h-46w {height:46vw;}
.h-47w {height:47vw;}
.h-48w {height:48vw;}
.h-49w {height:49vw;}
.h-50w {height:50vw;}
.h-51w {height:51vw;}
.h-52w {height:52vw;}
.h-53w {height:53vw;}
.h-54w {height:54vw;}
.h-55w {height:55vw;}
.h-56w {height:56vw;}
.h-57w {height:57vw;}
.h-58w {height:58vw;}
.h-59w {height:59vw;}
.h-60w {height:60vw;}
.h-61w {height:61vw;}
.h-62w {height:62vw;}
.h-63w {height:63vw;}
.h-64w {height:64vw;}
.h-65w {height:65vw;}
.h-66w {height:66vw;}
.h-67w {height:67vw;}
.h-68w {height:68vw;}
.h-69w {height:69vw;}
.h-70w {height:70vw;}
.h-71w {height:71vw;}
.h-72w {height:72vw;}
.h-73w {height:73vw;}
.h-74w {height:74vw;}
.h-75w {height:75vw;}
.h-76w {height:76vw;}
.h-77w {height:77vw;}
.h-78w {height:78vw;}
.h-79w {height:79vw;}
.h-80w {height:80vw;}
.h-81w {height:81vw;}
.h-82w {height:82vw;}
.h-83w {height:83vw;}
.h-84w {height:84vw;}
.h-85w {height:85vw;}
.h-86w {height:86vw;}
.h-87w {height:87vw;}
.h-88w {height:88vw;}
.h-89w {height:89vw;}
.h-90w {height:90vw;}
.h-91w {height:91vw;}
.h-92w {height:92vw;}
.h-93w {height:93vw;}
.h-94w {height:94vw;}
.h-95w {height:95vw;}
.h-96w {height:96vw;}
.h-97w {height:97vw;}
.h-98w {height:98vw;}
.h-99w {height:99vw;}
.h-100w {height:100vw;}

/**/

.h-1-1 {
    height: calc(100%/1);
}

.h-2-1 {
    height: calc(100%/2);
}

.h-3-1 {
    height: calc(100%/3);
}

.h-4-1 {
    height: calc(100%/4);
}

.h-5-1 {
    height: calc(100%/5);
}

.h-6-1 {
    height: calc(100%/6);
}

.h-7-1 {
    height: calc(100%/7);
}

.h-8-1 {
    height: calc(100%/8);
}

.h-9-1 {
    height: calc(100%/9);
}

.h-10-1 {
    height: calc(100%/10);
}

/**/

.maxh-00 {max-height: 0vw;}
.maxh-01 {max-height: 1vw;}
.maxh-02 {max-height: 2vw;}
.maxh-03 {max-height: 3vw;}
.maxh-04 {max-height: 4vw;}
.maxh-05 {max-height: 5vw;}
.maxh-06 {max-height: 6vw;}
.maxh-07 {max-height: 7vw;}
.maxh-08 {max-height: 8vw;}
.maxh-09 {max-height: 9vw;}
.maxh-10 {max-height: 10vw;}
.maxh-11 {max-height: 11vw;}
.maxh-12 {max-height: 12vw;}
.maxh-13 {max-height: 13vw;}
.maxh-14 {max-height: 14vw;}
.maxh-15 {max-height: 15vw;}
.maxh-16 {max-height: 16vw;}
.maxh-17 {max-height: 17vw;}
.maxh-18 {max-height: 18vw;}
.maxh-19 {max-height: 19vw;}
.maxh-20 {max-height: 20vw;}
.maxh-21 {max-height: 21vw;}
.maxh-22 {max-height: 22vw;}
.maxh-23 {max-height: 23vw;}
.maxh-24 {max-height: 24vw;}
.maxh-25 {max-height: 25vw;}
.maxh-26 {max-height: 26vw;}
.maxh-27 {max-height: 27vw;}
.maxh-28 {max-height: 28vw;}
.maxh-29 {max-height: 29vw;}
.maxh-30 {max-height: 30vw;}
.maxh-31 {max-height: 31vw;}
.maxh-32 {max-height: 32vw;}
.maxh-33 {max-height: 33vw;}
.maxh-34 {max-height: 34vw;}
.maxh-35 {max-height: 35vw;}
.maxh-36 {max-height: 36vw;}
.maxh-37 {max-height: 37vw;}
.maxh-38 {max-height: 38vw;}
.maxh-39 {max-height: 39vw;}
.maxh-40 {max-height: 40vw;}
.maxh-41 {max-height: 41vw;}
.maxh-42 {max-height: 42vw;}
.maxh-43 {max-height: 43vw;}
.maxh-44 {max-height: 44vw;}
.maxh-45 {max-height: 45vw;}
.maxh-46 {max-height: 46vw;}
.maxh-47 {max-height: 47vw;}
.maxh-48 {max-height: 48vw;}
.maxh-49 {max-height: 49vw;}
.maxh-50 {max-height: 50vw;}
.maxh-51 {max-height: 51vw;}
.maxh-52 {max-height: 52vw;}
.maxh-53 {max-height: 53vw;}
.maxh-54 {max-height: 54vw;}
.maxh-55 {max-height: 55vw;}
.maxh-56 {max-height: 56vw;}
.maxh-57 {max-height: 57vw;}
.maxh-58 {max-height: 58vw;}
.maxh-59 {max-height: 59vw;}
.maxh-60 {max-height: 60vw;}
.maxh-61 {max-height: 61vw;}
.maxh-62 {max-height: 62vw;}
.maxh-63 {max-height: 63vw;}
.maxh-64 {max-height: 64vw;}
.maxh-65 {max-height: 65vw;}
.maxh-66 {max-height: 66vw;}
.maxh-67 {max-height: 67vw;}
.maxh-68 {max-height: 68vw;}
.maxh-69 {max-height: 69vw;}
.maxh-70 {max-height: 70vw;}
.maxh-71 {max-height: 71vw;}
.maxh-72 {max-height: 72vw;}
.maxh-73 {max-height: 73vw;}
.maxh-74 {max-height: 74vw;}
.maxh-75 {max-height: 75vw;}
.maxh-76 {max-height: 76vw;}
.maxh-77 {max-height: 77vw;}
.maxh-78 {max-height: 78vw;}
.maxh-79 {max-height: 79vw;}
.maxh-80 {max-height: 80vw;}
.maxh-81 {max-height: 81vw;}
.maxh-82 {max-height: 82vw;}
.maxh-83 {max-height: 83vw;}
.maxh-84 {max-height: 84vw;}
.maxh-85 {max-height: 85vw;}
.maxh-86 {max-height: 86vw;}
.maxh-87 {max-height: 87vw;}
.maxh-88 {max-height: 88vw;}
.maxh-89 {max-height: 89vw;}
.maxh-90 {max-height: 90vw;}
.maxh-91 {max-height: 91vw;}
.maxh-92 {max-height: 92vw;}
.maxh-93 {max-height: 93vw;}
.maxh-94 {max-height: 94vw;}
.maxh-95 {max-height: 95vw;}
.maxh-96 {max-height: 96vw;}
.maxh-97 {max-height: 97vw;}
.maxh-98 {max-height: 98vw;}
.maxh-99 {max-height: 99vw;}
.maxh-100 {max-height: 100vw;}

.minh-00 {min-height: 0vw;}
.minh-01 {min-height: 1vw;}
.minh-02 {min-height: 2vw;}
.minh-03 {min-height: 3vw;}
.minh-04 {min-height: 4vw;}
.minh-05 {min-height: 5vw;}
.minh-06 {min-height: 6vw;}
.minh-07 {min-height: 7vw;}
.minh-08 {min-height: 8vw;}
.minh-09 {min-height: 9vw;}
.minh-10 {min-height: 10vw;}
.minh-11 {min-height: 11vw;}
.minh-12 {min-height: 12vw;}
.minh-13 {min-height: 13vw;}
.minh-14 {min-height: 14vw;}
.minh-15 {min-height: 15vw;}
.minh-16 {min-height: 16vw;}
.minh-17 {min-height: 17vw;}
.minh-18 {min-height: 18vw;}
.minh-19 {min-height: 19vw;}
.minh-20 {min-height: 20vw;}
.minh-21 {min-height: 21vw;}
.minh-22 {min-height: 22vw;}
.minh-23 {min-height: 23vw;}
.minh-24 {min-height: 24vw;}
.minh-25 {min-height: 25vw;}
.minh-26 {min-height: 26vw;}
.minh-27 {min-height: 27vw;}
.minh-28 {min-height: 28vw;}
.minh-29 {min-height: 29vw;}
.minh-30 {min-height: 30vw;}
.minh-31 {min-height: 31vw;}
.minh-32 {min-height: 32vw;}
.minh-33 {min-height: 33vw;}
.minh-34 {min-height: 34vw;}
.minh-35 {min-height: 35vw;}
.minh-36 {min-height: 36vw;}
.minh-37 {min-height: 37vw;}
.minh-38 {min-height: 38vw;}
.minh-39 {min-height: 39vw;}
.minh-40 {min-height: 40vw;}
.minh-41 {min-height: 41vw;}
.minh-42 {min-height: 42vw;}
.minh-43 {min-height: 43vw;}
.minh-44 {min-height: 44vw;}
.minh-45 {min-height: 45vw;}
.minh-46 {min-height: 46vw;}
.minh-47 {min-height: 47vw;}
.minh-48 {min-height: 48vw;}
.minh-49 {min-height: 49vw;}
.minh-50 {min-height: 50vw;}
.minh-51 {min-height: 51vw;}
.minh-52 {min-height: 52vw;}
.minh-53 {min-height: 53vw;}
.minh-54 {min-height: 54vw;}
.minh-55 {min-height: 55vw;}
.minh-56 {min-height: 56vw;}
.minh-57 {min-height: 57vw;}
.minh-58 {min-height: 58vw;}
.minh-59 {min-height: 59vw;}
.minh-60 {min-height: 60vw;}
.minh-61 {min-height: 61vw;}
.minh-62 {min-height: 62vw;}
.minh-63 {min-height: 63vw;}
.minh-64 {min-height: 64vw;}
.minh-65 {min-height: 65vw;}
.minh-66 {min-height: 66vw;}
.minh-67 {min-height: 67vw;}
.minh-68 {min-height: 68vw;}
.minh-69 {min-height: 69vw;}
.minh-70 {min-height: 70vw;}
.minh-71 {min-height: 71vw;}
.minh-72 {min-height: 72vw;}
.minh-73 {min-height: 73vw;}
.minh-74 {min-height: 74vw;}
.minh-75 {min-height: 75vw;}
.minh-76 {min-height: 76vw;}
.minh-77 {min-height: 77vw;}
.minh-78 {min-height: 78vw;}
.minh-79 {min-height: 79vw;}
.minh-80 {min-height: 80vw;}
.minh-81 {min-height: 81vw;}
.minh-82 {min-height: 82vw;}
.minh-83 {min-height: 83vw;}
.minh-84 {min-height: 84vw;}
.minh-85 {min-height: 85vw;}
.minh-86 {min-height: 86vw;}
.minh-87 {min-height: 87vw;}
.minh-88 {min-height: 88vw;}
.minh-89 {min-height: 89vw;}
.minh-90 {min-height: 90vw;}
.minh-91 {min-height: 91vw;}
.minh-92 {min-height: 92vw;}
.minh-93 {min-height: 93vw;}
.minh-94 {min-height: 94vw;}
.minh-95 {min-height: 95vw;}
.minh-96 {min-height: 96vw;}
.minh-97 {min-height: 97vw;}
.minh-98 {min-height: 98vw;}
.minh-99 {min-height: 99vw;}
.minh-100 {min-height: 100vw;}