img {
    user-select: none;
}

.in-img1 {
    background-image: url(../img/image1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.in-img2 {
    background-image: url(../img/image2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.in-img3 {
    background-image: url(../img/image3.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.in-img4 {
    background-image: url(../img/image4.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.in-img5 {
    background-image: url(../img/image5.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.in-img6 {
    background-image: url(../img/image6.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.in-img7 {
    background-image: url(../img/image7.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
/*
    <div class="video-background">
        <video webkit-playsinline playsinline muted autoplay loop oncontextmenu="alert('動画の保存は許可されていません！'); return false;">
            <source src="./img/K012-2.mp4" type="video/mp4">
            お使いのブラウザは動画タグに対応していません。
        </video>
        <div class="">
            ここに中身
        </div>
    </div>
*/

.video-background {
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.on-img1 {
    background-image: url(../img/image8.avif);
    background-size: cover;
    background-position: 1vw -12%; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.on-img1 {
    background-image: url(../img/image8.avif);
    background-size: cover;
    background-position:  0 22%; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img1 {
    background-image: url(../img/ap.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img2 {
    background-image: url(../img/un.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img3 {
    background-image: url(../img/yt.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img3-2 {
    background-image: url(../img/yt-web.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img4 {
    background-image: url(../img/tx.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img5 {
    background-image: url(../img/tt.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img6 {
    background-image: url(../img/gh.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img7 {
    background-image: url(../img/nf.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img8 {
    background-image: url(../img/rd.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img9 {
    background-image: url(../img/vc.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img10 {
    background-image: url(../img/sb.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img11 {
    background-image: url(../img/pr.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img12 {
    background-image: url(../img/fh.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}

.net-on-img13 {
    background-image: url(../img/te.avif);
    background-size: cover;
    background-position: 0; /*画像の位置調整*/
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 5vh;
    flex-direction: column;
    z-index: 10;
}
/*
<img class="sen-h-1" src="./img/image6.avif" oncontextmenu="alert('画像の保存は許可されていません！'); return false;" alt="スライド5" title="小鳥Lab" width="100%">
*/

.img-menkyo {
    background-image: url(../img/免許-resize.avif);
    background-size: 1000px 634px;
    background-color: #fff; /*位置調整で足りなくなった時用*/
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
    z-index: 10;
}