/*margin*/
.m-a {margin: auto;}
.m-0a {margin: 0 auto;}
.m-00 {margin: 0vw;}
.m-01 {margin: 1vw;}
.m-02 {margin: 2vw;}
.m-03 {margin: 3vw;}
.m-04 {margin: 4vw;}
.m-05 {margin: 5vw;}
.m-06 {margin: 6vw;}
.m-07 {margin: 7vw;}
.m-08 {margin: 8vw;}
.m-09 {margin: 9vw;}
.m-10 {margin: 10vw;}
.m-11 {margin: 11vw;}
.m-12 {margin: 12vw;}
.m-13 {margin: 13vw;}
.m-14 {margin: 14vw;}
.m-15 {margin: 15vw;}
.m-16 {margin: 16vw;}
.m-17 {margin: 17vw;}
.m-18 {margin: 18vw;}
.m-19 {margin: 19vw;}
.m-20 {margin: 20vw;}
.m-21 {margin: 21vw;}
.m-22 {margin: 22vw;}
.m-23 {margin: 23vw;}
.m-24 {margin: 24vw;}
.m-25 {margin: 25vw;}
.m-26 {margin: 26vw;}
.m-27 {margin: 27vw;}
.m-28 {margin: 28vw;}
.m-29 {margin: 29vw;}
.m-30 {margin: 30vw;}
.m-31 {margin: 31vw;}
.m-32 {margin: 32vw;}
.m-33 {margin: 33vw;}
.m-34 {margin: 34vw;}
.m-35 {margin: 35vw;}
.m-36 {margin: 36vw;}
.m-37 {margin: 37vw;}
.m-38 {margin: 38vw;}
.m-39 {margin: 39vw;}
.m-40 {margin: 40vw;}
.m-41 {margin: 41vw;}
.m-42 {margin: 42vw;}
.m-43 {margin: 43vw;}
.m-44 {margin: 44vw;}
.m-45 {margin: 45vw;}
.m-46 {margin: 46vw;}
.m-47 {margin: 47vw;}
.m-48 {margin: 48vw;}
.m-49 {margin: 49vw;}
.m-50 {margin: 50vw;}
.m-51 {margin: 51vw;}
.m-52 {margin: 52vw;}
.m-53 {margin: 53vw;}
.m-54 {margin: 54vw;}
.m-55 {margin: 55vw;}
.m-56 {margin: 56vw;}
.m-57 {margin: 57vw;}
.m-58 {margin: 58vw;}
.m-59 {margin: 59vw;}
.m-60 {margin: 60vw;}
.m-61 {margin: 61vw;}
.m-62 {margin: 62vw;}
.m-63 {margin: 63vw;}
.m-64 {margin: 64vw;}
.m-65 {margin: 65vw;}
.m-66 {margin: 66vw;}
.m-67 {margin: 67vw;}
.m-68 {margin: 68vw;}
.m-69 {margin: 69vw;}
.m-70 {margin: 70vw;}
.m-71 {margin: 71vw;}
.m-72 {margin: 72vw;}
.m-73 {margin: 73vw;}
.m-74 {margin: 74vw;}
.m-75 {margin: 75vw;}
.m-76 {margin: 76vw;}
.m-77 {margin: 77vw;}
.m-78 {margin: 78vw;}
.m-79 {margin: 79vw;}
.m-80 {margin: 80vw;}
.m-81 {margin: 81vw;}
.m-82 {margin: 82vw;}
.m-83 {margin: 83vw;}
.m-84 {margin: 84vw;}
.m-85 {margin: 85vw;}
.m-86 {margin: 86vw;}
.m-87 {margin: 87vw;}
.m-88 {margin: 88vw;}
.m-89 {margin: 89vw;}
.m-90 {margin: 90vw;}
.m-91 {margin: 91vw;}
.m-92 {margin: 92vw;}
.m-93 {margin: 93vw;}
.m-94 {margin: 94vw;}
.m-95 {margin: 95vw;}
.m-96 {margin: 96vw;}
.m-97 {margin: 97vw;}
.m-98 {margin: 98vw;}
.m-99 {margin: 99vw;}
.m-100 {margin: 100vw;}

.mt-01 {margin-top: 1vw;}
.mt-02 {margin-top: 2vw;}
.mt-03 {margin-top: 3vw;}
.mt-04 {margin-top: 4vw;}
.mt-05 {margin-top: 5vw;}
.mt-06 {margin-top: 6vw;}
.mt-07 {margin-top: 7vw;}
.mt-08 {margin-top: 8vw;}
.mt-09 {margin-top: 9vw;}
.mt-10 {margin-top: 10vw;}
.mt-11 {margin-top: 11vw;}
.mt-12 {margin-top: 12vw;}
.mt-13 {margin-top: 13vw;}
.mt-14 {margin-top: 14vw;}
.mt-15 {margin-top: 15vw;}
.mt-16 {margin-top: 16vw;}
.mt-17 {margin-top: 17vw;}
.mt-18 {margin-top: 18vw;}
.mt-19 {margin-top: 19vw;}
.mt-20 {margin-top: 20vw;}
.mt-21 {margin-top: 21vw;}
.mt-22 {margin-top: 22vw;}
.mt-23 {margin-top: 23vw;}
.mt-24 {margin-top: 24vw;}
.mt-25 {margin-top: 25vw;}
.mt-26 {margin-top: 26vw;}
.mt-27 {margin-top: 27vw;}
.mt-28 {margin-top: 28vw;}
.mt-29 {margin-top: 29vw;}
.mt-30 {margin-top: 30vw;}
.mt-31 {margin-top: 31vw;}
.mt-32 {margin-top: 32vw;}
.mt-33 {margin-top: 33vw;}
.mt-34 {margin-top: 34vw;}
.mt-35 {margin-top: 35vw;}
.mt-36 {margin-top: 36vw;}
.mt-37 {margin-top: 37vw;}
.mt-38 {margin-top: 38vw;}
.mt-39 {margin-top: 39vw;}
.mt-40 {margin-top: 40vw;}
.mt-41 {margin-top: 41vw;}
.mt-42 {margin-top: 42vw;}
.mt-43 {margin-top: 43vw;}
.mt-44 {margin-top: 44vw;}
.mt-45 {margin-top: 45vw;}
.mt-46 {margin-top: 46vw;}
.mt-47 {margin-top: 47vw;}
.mt-48 {margin-top: 48vw;}
.mt-49 {margin-top: 49vw;}
.mt-50 {margin-top: 50vw;}
.mt-51 {margin-top: 51vw;}
.mt-52 {margin-top: 52vw;}
.mt-53 {margin-top: 53vw;}
.mt-54 {margin-top: 54vw;}
.mt-55 {margin-top: 55vw;}
.mt-56 {margin-top: 56vw;}
.mt-57 {margin-top: 57vw;}
.mt-58 {margin-top: 58vw;}
.mt-59 {margin-top: 59vw;}
.mt-60 {margin-top: 60vw;}
.mt-61 {margin-top: 61vw;}
.mt-62 {margin-top: 62vw;}
.mt-63 {margin-top: 63vw;}
.mt-64 {margin-top: 64vw;}
.mt-65 {margin-top: 65vw;}
.mt-66 {margin-top: 66vw;}
.mt-67 {margin-top: 67vw;}
.mt-68 {margin-top: 68vw;}
.mt-69 {margin-top: 69vw;}
.mt-70 {margin-top: 70vw;}
.mt-71 {margin-top: 71vw;}
.mt-72 {margin-top: 72vw;}
.mt-73 {margin-top: 73vw;}
.mt-74 {margin-top: 74vw;}
.mt-75 {margin-top: 75vw;}
.mt-76 {margin-top: 76vw;}
.mt-77 {margin-top: 77vw;}
.mt-78 {margin-top: 78vw;}
.mt-79 {margin-top: 79vw;}
.mt-80 {margin-top: 80vw;}
.mt-81 {margin-top: 81vw;}
.mt-82 {margin-top: 82vw;}
.mt-83 {margin-top: 83vw;}
.mt-84 {margin-top: 84vw;}
.mt-85 {margin-top: 85vw;}
.mt-86 {margin-top: 86vw;}
.mt-87 {margin-top: 87vw;}
.mt-88 {margin-top: 88vw;}
.mt-89 {margin-top: 89vw;}
.mt-90 {margin-top: 90vw;}
.mt-91 {margin-top: 91vw;}
.mt-92 {margin-top: 92vw;}
.mt-93 {margin-top: 93vw;}
.mt-94 {margin-top: 94vw;}
.mt-95 {margin-top: 95vw;}
.mt-96 {margin-top: 96vw;}
.mt-97 {margin-top: 97vw;}
.mt-98 {margin-top: 98vw;}
.mt-99 {margin-top: 99vw;}
.mt-100 {margin-top: 100vw;}

.mr-01 {margin-right: 1vw;}
.mr-02 {margin-right: 2vw;}
.mr-03 {margin-right: 3vw;}
.mr-04 {margin-right: 4vw;}
.mr-05 {margin-right: 5vw;}
.mr-06 {margin-right: 6vw;}
.mr-07 {margin-right: 7vw;}
.mr-08 {margin-right: 8vw;}
.mr-09 {margin-right: 9vw;}
.mr-10 {margin-right: 10vw;}
.mr-11 {margin-right: 11vw;}
.mr-12 {margin-right: 12vw;}
.mr-13 {margin-right: 13vw;}
.mr-14 {margin-right: 14vw;}
.mr-15 {margin-right: 15vw;}
.mr-16 {margin-right: 16vw;}
.mr-17 {margin-right: 17vw;}
.mr-18 {margin-right: 18vw;}
.mr-19 {margin-right: 19vw;}
.mr-20 {margin-right: 20vw;}
.mr-21 {margin-right: 21vw;}
.mr-22 {margin-right: 22vw;}
.mr-23 {margin-right: 23vw;}
.mr-24 {margin-right: 24vw;}
.mr-25 {margin-right: 25vw;}
.mr-26 {margin-right: 26vw;}
.mr-27 {margin-right: 27vw;}
.mr-28 {margin-right: 28vw;}
.mr-29 {margin-right: 29vw;}
.mr-30 {margin-right: 30vw;}
.mr-31 {margin-right: 31vw;}
.mr-32 {margin-right: 32vw;}
.mr-33 {margin-right: 33vw;}
.mr-34 {margin-right: 34vw;}
.mr-35 {margin-right: 35vw;}
.mr-36 {margin-right: 36vw;}
.mr-37 {margin-right: 37vw;}
.mr-38 {margin-right: 38vw;}
.mr-39 {margin-right: 39vw;}
.mr-40 {margin-right: 40vw;}
.mr-41 {margin-right: 41vw;}
.mr-42 {margin-right: 42vw;}
.mr-43 {margin-right: 43vw;}
.mr-44 {margin-right: 44vw;}
.mr-45 {margin-right: 45vw;}
.mr-46 {margin-right: 46vw;}
.mr-47 {margin-right: 47vw;}
.mr-48 {margin-right: 48vw;}
.mr-49 {margin-right: 49vw;}
.mr-50 {margin-right: 50vw;}
.mr-51 {margin-right: 51vw;}
.mr-52 {margin-right: 52vw;}
.mr-53 {margin-right: 53vw;}
.mr-54 {margin-right: 54vw;}
.mr-55 {margin-right: 55vw;}
.mr-56 {margin-right: 56vw;}
.mr-57 {margin-right: 57vw;}
.mr-58 {margin-right: 58vw;}
.mr-59 {margin-right: 59vw;}
.mr-60 {margin-right: 60vw;}
.mr-61 {margin-right: 61vw;}
.mr-62 {margin-right: 62vw;}
.mr-63 {margin-right: 63vw;}
.mr-64 {margin-right: 64vw;}
.mr-65 {margin-right: 65vw;}
.mr-66 {margin-right: 66vw;}
.mr-67 {margin-right: 67vw;}
.mr-68 {margin-right: 68vw;}
.mr-69 {margin-right: 69vw;}
.mr-70 {margin-right: 70vw;}
.mr-71 {margin-right: 71vw;}
.mr-72 {margin-right: 72vw;}
.mr-73 {margin-right: 73vw;}
.mr-74 {margin-right: 74vw;}
.mr-75 {margin-right: 75vw;}
.mr-76 {margin-right: 76vw;}
.mr-77 {margin-right: 77vw;}
.mr-78 {margin-right: 78vw;}
.mr-79 {margin-right: 79vw;}
.mr-80 {margin-right: 80vw;}
.mr-81 {margin-right: 81vw;}
.mr-82 {margin-right: 82vw;}
.mr-83 {margin-right: 83vw;}
.mr-84 {margin-right: 84vw;}
.mr-85 {margin-right: 85vw;}
.mr-86 {margin-right: 86vw;}
.mr-87 {margin-right: 87vw;}
.mr-88 {margin-right: 88vw;}
.mr-89 {margin-right: 89vw;}
.mr-90 {margin-right: 90vw;}
.mr-91 {margin-right: 91vw;}
.mr-92 {margin-right: 92vw;}
.mr-93 {margin-right: 93vw;}
.mr-94 {margin-right: 94vw;}
.mr-95 {margin-right: 95vw;}
.mr-96 {margin-right: 96vw;}
.mr-97 {margin-right: 97vw;}
.mr-98 {margin-right: 98vw;}
.mr-99 {margin-right: 99vw;}
.mr-100 {margin-right: 100vw;}

.mb-01 {margin-bottom: 1vw;}
.mb-02 {margin-bottom: 2vw;}
.mb-03 {margin-bottom: 3vw;}
.mb-04 {margin-bottom: 4vw;}
.mb-05 {margin-bottom: 5vw;}
.mb-06 {margin-bottom: 6vw;}
.mb-07 {margin-bottom: 7vw;}
.mb-08 {margin-bottom: 8vw;}
.mb-09 {margin-bottom: 9vw;}
.mb-10 {margin-bottom: 10vw;}
.mb-11 {margin-bottom: 11vw;}
.mb-12 {margin-bottom: 12vw;}
.mb-13 {margin-bottom: 13vw;}
.mb-14 {margin-bottom: 14vw;}
.mb-15 {margin-bottom: 15vw;}
.mb-16 {margin-bottom: 16vw;}
.mb-17 {margin-bottom: 17vw;}
.mb-18 {margin-bottom: 18vw;}
.mb-19 {margin-bottom: 19vw;}
.mb-20 {margin-bottom: 20vw;}
.mb-21 {margin-bottom: 21vw;}
.mb-22 {margin-bottom: 22vw;}
.mb-23 {margin-bottom: 23vw;}
.mb-24 {margin-bottom: 24vw;}
.mb-25 {margin-bottom: 25vw;}
.mb-26 {margin-bottom: 26vw;}
.mb-27 {margin-bottom: 27vw;}
.mb-28 {margin-bottom: 28vw;}
.mb-29 {margin-bottom: 29vw;}
.mb-30 {margin-bottom: 30vw;}
.mb-31 {margin-bottom: 31vw;}
.mb-32 {margin-bottom: 32vw;}
.mb-33 {margin-bottom: 33vw;}
.mb-34 {margin-bottom: 34vw;}
.mb-35 {margin-bottom: 35vw;}
.mb-36 {margin-bottom: 36vw;}
.mb-37 {margin-bottom: 37vw;}
.mb-38 {margin-bottom: 38vw;}
.mb-39 {margin-bottom: 39vw;}
.mb-40 {margin-bottom: 40vw;}
.mb-41 {margin-bottom: 41vw;}
.mb-42 {margin-bottom: 42vw;}
.mb-43 {margin-bottom: 43vw;}
.mb-44 {margin-bottom: 44vw;}
.mb-45 {margin-bottom: 45vw;}
.mb-46 {margin-bottom: 46vw;}
.mb-47 {margin-bottom: 47vw;}
.mb-48 {margin-bottom: 48vw;}
.mb-49 {margin-bottom: 49vw;}
.mb-50 {margin-bottom: 50vw;}
.mb-51 {margin-bottom: 51vw;}
.mb-52 {margin-bottom: 52vw;}
.mb-53 {margin-bottom: 53vw;}
.mb-54 {margin-bottom: 54vw;}
.mb-55 {margin-bottom: 55vw;}
.mb-56 {margin-bottom: 56vw;}
.mb-57 {margin-bottom: 57vw;}
.mb-58 {margin-bottom: 58vw;}
.mb-59 {margin-bottom: 59vw;}
.mb-60 {margin-bottom: 60vw;}
.mb-61 {margin-bottom: 61vw;}
.mb-62 {margin-bottom: 62vw;}
.mb-63 {margin-bottom: 63vw;}
.mb-64 {margin-bottom: 64vw;}
.mb-65 {margin-bottom: 65vw;}
.mb-66 {margin-bottom: 66vw;}
.mb-67 {margin-bottom: 67vw;}
.mb-68 {margin-bottom: 68vw;}
.mb-69 {margin-bottom: 69vw;}
.mb-70 {margin-bottom: 70vw;}
.mb-71 {margin-bottom: 71vw;}
.mb-72 {margin-bottom: 72vw;}
.mb-73 {margin-bottom: 73vw;}
.mb-74 {margin-bottom: 74vw;}
.mb-75 {margin-bottom: 75vw;}
.mb-76 {margin-bottom: 76vw;}
.mb-77 {margin-bottom: 77vw;}
.mb-78 {margin-bottom: 78vw;}
.mb-79 {margin-bottom: 79vw;}
.mb-80 {margin-bottom: 80vw;}
.mb-81 {margin-bottom: 81vw;}
.mb-82 {margin-bottom: 82vw;}
.mb-83 {margin-bottom: 83vw;}
.mb-84 {margin-bottom: 84vw;}
.mb-85 {margin-bottom: 85vw;}
.mb-86 {margin-bottom: 86vw;}
.mb-87 {margin-bottom: 87vw;}
.mb-88 {margin-bottom: 88vw;}
.mb-89 {margin-bottom: 89vw;}
.mb-90 {margin-bottom: 90vw;}
.mb-91 {margin-bottom: 91vw;}
.mb-92 {margin-bottom: 92vw;}
.mb-93 {margin-bottom: 93vw;}
.mb-94 {margin-bottom: 94vw;}
.mb-95 {margin-bottom: 95vw;}
.mb-96 {margin-bottom: 96vw;}
.mb-97 {margin-bottom: 97vw;}
.mb-98 {margin-bottom: 98vw;}
.mb-99 {margin-bottom: 99vw;}
.mb-100 {margin-bottom: 100vw;}

.ml-01 {margin-left: 1vw;}
.ml-02 {margin-left: 2vw;}
.ml-03 {margin-left: 3vw;}
.ml-04 {margin-left: 4vw;}
.ml-05 {margin-left: 5vw;}
.ml-06 {margin-left: 6vw;}
.ml-07 {margin-left: 7vw;}
.ml-08 {margin-left: 8vw;}
.ml-09 {margin-left: 9vw;}
.ml-10 {margin-left: 10vw;}
.ml-11 {margin-left: 11vw;}
.ml-12 {margin-left: 12vw;}
.ml-13 {margin-left: 13vw;}
.ml-14 {margin-left: 14vw;}
.ml-15 {margin-left: 15vw;}
.ml-16 {margin-left: 16vw;}
.ml-17 {margin-left: 17vw;}
.ml-18 {margin-left: 18vw;}
.ml-19 {margin-left: 19vw;}
.ml-20 {margin-left: 20vw;}
.ml-21 {margin-left: 21vw;}
.ml-22 {margin-left: 22vw;}
.ml-23 {margin-left: 23vw;}
.ml-24 {margin-left: 24vw;}
.ml-25 {margin-left: 25vw;}
.ml-26 {margin-left: 26vw;}
.ml-27 {margin-left: 27vw;}
.ml-28 {margin-left: 28vw;}
.ml-29 {margin-left: 29vw;}
.ml-30 {margin-left: 30vw;}
.ml-31 {margin-left: 31vw;}
.ml-32 {margin-left: 32vw;}
.ml-33 {margin-left: 33vw;}
.ml-34 {margin-left: 34vw;}
.ml-35 {margin-left: 35vw;}
.ml-36 {margin-left: 36vw;}
.ml-37 {margin-left: 37vw;}
.ml-38 {margin-left: 38vw;}
.ml-39 {margin-left: 39vw;}
.ml-40 {margin-left: 40vw;}
.ml-41 {margin-left: 41vw;}
.ml-42 {margin-left: 42vw;}
.ml-43 {margin-left: 43vw;}
.ml-44 {margin-left: 44vw;}
.ml-45 {margin-left: 45vw;}
.ml-46 {margin-left: 46vw;}
.ml-47 {margin-left: 47vw;}
.ml-48 {margin-left: 48vw;}
.ml-49 {margin-left: 49vw;}
.ml-50 {margin-left: 50vw;}
.ml-51 {margin-left: 51vw;}
.ml-52 {margin-left: 52vw;}
.ml-53 {margin-left: 53vw;}
.ml-54 {margin-left: 54vw;}
.ml-55 {margin-left: 55vw;}
.ml-56 {margin-left: 56vw;}
.ml-57 {margin-left: 57vw;}
.ml-58 {margin-left: 58vw;}
.ml-59 {margin-left: 59vw;}
.ml-60 {margin-left: 60vw;}
.ml-61 {margin-left: 61vw;}
.ml-62 {margin-left: 62vw;}
.ml-63 {margin-left: 63vw;}
.ml-64 {margin-left: 64vw;}
.ml-65 {margin-left: 65vw;}
.ml-66 {margin-left: 66vw;}
.ml-67 {margin-left: 67vw;}
.ml-68 {margin-left: 68vw;}
.ml-69 {margin-left: 69vw;}
.ml-70 {margin-left: 70vw;}
.ml-71 {margin-left: 71vw;}
.ml-72 {margin-left: 72vw;}
.ml-73 {margin-left: 73vw;}
.ml-74 {margin-left: 74vw;}
.ml-75 {margin-left: 75vw;}
.ml-76 {margin-left: 76vw;}
.ml-77 {margin-left: 77vw;}
.ml-78 {margin-left: 78vw;}
.ml-79 {margin-left: 79vw;}
.ml-80 {margin-left: 80vw;}
.ml-81 {margin-left: 81vw;}
.ml-82 {margin-left: 82vw;}
.ml-83 {margin-left: 83vw;}
.ml-84 {margin-left: 84vw;}
.ml-85 {margin-left: 85vw;}
.ml-86 {margin-left: 86vw;}
.ml-87 {margin-left: 87vw;}
.ml-88 {margin-left: 88vw;}
.ml-89 {margin-left: 89vw;}
.ml-90 {margin-left: 90vw;}
.ml-91 {margin-left: 91vw;}
.ml-92 {margin-left: 92vw;}
.ml-93 {margin-left: 93vw;}
.ml-94 {margin-left: 94vw;}
.ml-95 {margin-left: 95vw;}
.ml-96 {margin-left: 96vw;}
.ml-97 {margin-left: 97vw;}
.ml-98 {margin-left: 98vw;}
.ml-99 {margin-left: 99vw;}
.ml-100 {margin-left: 100vw;}

/**/

.m-1-1 {
    margin: calc(100%/1);
}

.m-2-1 {
    margin: calc(100%/2);
}

.m-3-1 {
    margin: calc(100%/3);
}

.m-4-1 {
    margin: calc(100%/4);
}

.m-5-1 {
    margin: calc(100%/5);
}

.m-6-1 {
    margin: calc(100%/6);
}

.m-7-1 {
    margin: calc(100%/7);
}

.m-8-1 {
    margin: calc(100%/8);
}

.m-9-1 {
    margin: calc(100%/9);
}

.m-10-1 {
    margin: calc(100%/10);
}

/**/

.mt-1-1 {
    margin-top: calc(100%/1);
}

.mt-2-1 {
    margin-top: calc(100%/2);
}

.mt-3-1 {
    margin-top: calc(100%/3);
}

.mt-4-1 {
    margin-top: calc(100%/4);
}

.mt-5-1 {
    margin-top: calc(100%/5);
}

.mt-6-1 {
    margin-top: calc(100%/6);
}

.mt-7-1 {
    margin-top: calc(100%/7);
}

.mt-8-1 {
    margin-top: calc(100%/8);
}

.mt-9-1 {
    margin-top: calc(100%/9);
}

.mt-10-1 {
    margin-top: calc(100%/10);
}

/**/

.mr-1-1 {
    margin-right: calc(100%/1);
}

.mr-2-1 {
    margin-right: calc(100%/2);
}

.mr-3-1 {
    margin-right: calc(100%/3);
}

.mr-4-1 {
    margin-right: calc(100%/4);
}

.mr-5-1 {
    margin-right: calc(100%/5);
}

.mr-6-1 {
    margin-right: calc(100%/6);
}

.mr-7-1 {
    margin-right: calc(100%/7);
}

.mr-8-1 {
    margin-right: calc(100%/8);
}

.mr-9-1 {
    margin-right: calc(100%/9);
}

.mr-10-1 {
    margin-right: calc(100%/10);
}

/**/

.mb-1-1 {
    margin-bottom: calc(100%/1);
}

.mb-2-1 {
    margin-bottom: calc(100%/2);
}

.mb-3-1 {
    margin-bottom: calc(100%/3);
}

.mb-4-1 {
    margin-bottom: calc(100%/4);
}

.mb-5-1 {
    margin-bottom: calc(100%/5);
}

.mb-6-1 {
    margin-bottom: calc(100%/6);
}

.mb-7-1 {
    margin-bottom: calc(100%/7);
}

.mb-8-1 {
    margin-bottom: calc(100%/8);
}

.mb-9-1 {
    margin-bottom: calc(100%/9);
}

.mb-10-1 {
    margin-bottom: calc(100%/10);
}

/**/

.ml-1-1 {
    margin-left: calc(100%/1);
}

.ml-2-1 {
    margin-left: calc(100%/2);
}

.ml-3-1 {
    margin-left: calc(100%/3);
}

.ml-4-1 {
    margin-left: calc(100%/4);
}

.ml-5-1 {
    margin-left: calc(100%/5);
}

.ml-6-1 {
    margin-left: calc(100%/6);
}

.ml-7-1 {
    margin-left: calc(100%/7);
}

.ml-8-1 {
    margin-left: calc(100%/8);
}

.ml-9-1 {
    margin-left: calc(100%/9);
}

.ml-10-1 {
    margin-left: calc(100%/10);
}
/**/

.mt-10px {
    margin-top: 10px;
}