/*padding*/
.p-a {padding: auto;}
.p-0a {padding: 0 auto;}
.p-00 {padding: 0vw;}
.p-01 {padding: 1vw;}
.p-02 {padding: 2vw;}
.p-03 {padding: 3vw;}
.p-04 {padding: 4vw;}
.p-05 {padding: 5vw;}
.p-06 {padding: 6vw;}
.p-07 {padding: 7vw;}
.p-08 {padding: 8vw;}
.p-09 {padding: 9vw;}
.p-10 {padding: 10vw;}
.p-11 {padding: 11vw;}
.p-12 {padding: 12vw;}
.p-13 {padding: 13vw;}
.p-14 {padding: 14vw;}
.p-15 {padding: 15vw;}
.p-16 {padding: 16vw;}
.p-17 {padding: 17vw;}
.p-18 {padding: 18vw;}
.p-19 {padding: 19vw;}
.p-20 {padding: 20vw;}
.p-21 {padding: 21vw;}
.p-22 {padding: 22vw;}
.p-23 {padding: 23vw;}
.p-24 {padding: 24vw;}
.p-25 {padding: 25vw;}
.p-26 {padding: 26vw;}
.p-27 {padding: 27vw;}
.p-28 {padding: 28vw;}
.p-29 {padding: 29vw;}
.p-30 {padding: 30vw;}
.p-31 {padding: 31vw;}
.p-32 {padding: 32vw;}
.p-33 {padding: 33vw;}
.p-34 {padding: 34vw;}
.p-35 {padding: 35vw;}
.p-36 {padding: 36vw;}
.p-37 {padding: 37vw;}
.p-38 {padding: 38vw;}
.p-39 {padding: 39vw;}
.p-40 {padding: 40vw;}
.p-41 {padding: 41vw;}
.p-42 {padding: 42vw;}
.p-43 {padding: 43vw;}
.p-44 {padding: 44vw;}
.p-45 {padding: 45vw;}
.p-46 {padding: 46vw;}
.p-47 {padding: 47vw;}
.p-48 {padding: 48vw;}
.p-49 {padding: 49vw;}
.p-50 {padding: 50vw;}
.p-51 {padding: 51vw;}
.p-52 {padding: 52vw;}
.p-53 {padding: 53vw;}
.p-54 {padding: 54vw;}
.p-55 {padding: 55vw;}
.p-56 {padding: 56vw;}
.p-57 {padding: 57vw;}
.p-58 {padding: 58vw;}
.p-59 {padding: 59vw;}
.p-60 {padding: 60vw;}
.p-61 {padding: 61vw;}
.p-62 {padding: 62vw;}
.p-63 {padding: 63vw;}
.p-64 {padding: 64vw;}
.p-65 {padding: 65vw;}
.p-66 {padding: 66vw;}
.p-67 {padding: 67vw;}
.p-68 {padding: 68vw;}
.p-69 {padding: 69vw;}
.p-70 {padding: 70vw;}
.p-71 {padding: 71vw;}
.p-72 {padding: 72vw;}
.p-73 {padding: 73vw;}
.p-74 {padding: 74vw;}
.p-75 {padding: 75vw;}
.p-76 {padding: 76vw;}
.p-77 {padding: 77vw;}
.p-78 {padding: 78vw;}
.p-79 {padding: 79vw;}
.p-80 {padding: 80vw;}
.p-81 {padding: 81vw;}
.p-82 {padding: 82vw;}
.p-83 {padding: 83vw;}
.p-84 {padding: 84vw;}
.p-85 {padding: 85vw;}
.p-86 {padding: 86vw;}
.p-87 {padding: 87vw;}
.p-88 {padding: 88vw;}
.p-89 {padding: 89vw;}
.p-90 {padding: 90vw;}
.p-91 {padding: 91vw;}
.p-92 {padding: 92vw;}
.p-93 {padding: 93vw;}
.p-94 {padding: 94vw;}
.p-95 {padding: 95vw;}
.p-96 {padding: 96vw;}
.p-97 {padding: 97vw;}
.p-98 {padding: 98vw;}
.p-99 {padding: 99vw;}
.p-100 {padding: 100vw;}

.pt-01 {padding-top: 1vw;}
.pt-02 {padding-top: 2vw;}
.pt-03 {padding-top: 3vw;}
.pt-04 {padding-top: 4vw;}
.pt-05 {padding-top: 5vw;}
.pt-06 {padding-top: 6vw;}
.pt-07 {padding-top: 7vw;}
.pt-08 {padding-top: 8vw;}
.pt-09 {padding-top: 9vw;}
.pt-10 {padding-top: 10vw;}
.pt-11 {padding-top: 11vw;}
.pt-12 {padding-top: 12vw;}
.pt-13 {padding-top: 13vw;}
.pt-14 {padding-top: 14vw;}
.pt-15 {padding-top: 15vw;}
.pt-16 {padding-top: 16vw;}
.pt-17 {padding-top: 17vw;}
.pt-18 {padding-top: 18vw;}
.pt-19 {padding-top: 19vw;}
.pt-20 {padding-top: 20vw;}
.pt-21 {padding-top: 21vw;}
.pt-22 {padding-top: 22vw;}
.pt-23 {padding-top: 23vw;}
.pt-24 {padding-top: 24vw;}
.pt-25 {padding-top: 25vw;}
.pt-26 {padding-top: 26vw;}
.pt-27 {padding-top: 27vw;}
.pt-28 {padding-top: 28vw;}
.pt-29 {padding-top: 29vw;}
.pt-30 {padding-top: 30vw;}
.pt-31 {padding-top: 31vw;}
.pt-32 {padding-top: 32vw;}
.pt-33 {padding-top: 33vw;}
.pt-34 {padding-top: 34vw;}
.pt-35 {padding-top: 35vw;}
.pt-36 {padding-top: 36vw;}
.pt-37 {padding-top: 37vw;}
.pt-38 {padding-top: 38vw;}
.pt-39 {padding-top: 39vw;}
.pt-40 {padding-top: 40vw;}
.pt-41 {padding-top: 41vw;}
.pt-42 {padding-top: 42vw;}
.pt-43 {padding-top: 43vw;}
.pt-44 {padding-top: 44vw;}
.pt-45 {padding-top: 45vw;}
.pt-46 {padding-top: 46vw;}
.pt-47 {padding-top: 47vw;}
.pt-48 {padding-top: 48vw;}
.pt-49 {padding-top: 49vw;}
.pt-50 {padding-top: 50vw;}
.pt-51 {padding-top: 51vw;}
.pt-52 {padding-top: 52vw;}
.pt-53 {padding-top: 53vw;}
.pt-54 {padding-top: 54vw;}
.pt-55 {padding-top: 55vw;}
.pt-56 {padding-top: 56vw;}
.pt-57 {padding-top: 57vw;}
.pt-58 {padding-top: 58vw;}
.pt-59 {padding-top: 59vw;}
.pt-60 {padding-top: 60vw;}
.pt-61 {padding-top: 61vw;}
.pt-62 {padding-top: 62vw;}
.pt-63 {padding-top: 63vw;}
.pt-64 {padding-top: 64vw;}
.pt-65 {padding-top: 65vw;}
.pt-66 {padding-top: 66vw;}
.pt-67 {padding-top: 67vw;}
.pt-68 {padding-top: 68vw;}
.pt-69 {padding-top: 69vw;}
.pt-70 {padding-top: 70vw;}
.pt-71 {padding-top: 71vw;}
.pt-72 {padding-top: 72vw;}
.pt-73 {padding-top: 73vw;}
.pt-74 {padding-top: 74vw;}
.pt-75 {padding-top: 75vw;}
.pt-76 {padding-top: 76vw;}
.pt-77 {padding-top: 77vw;}
.pt-78 {padding-top: 78vw;}
.pt-79 {padding-top: 79vw;}
.pt-80 {padding-top: 80vw;}
.pt-81 {padding-top: 81vw;}
.pt-82 {padding-top: 82vw;}
.pt-83 {padding-top: 83vw;}
.pt-84 {padding-top: 84vw;}
.pt-85 {padding-top: 85vw;}
.pt-86 {padding-top: 86vw;}
.pt-87 {padding-top: 87vw;}
.pt-88 {padding-top: 88vw;}
.pt-89 {padding-top: 89vw;}
.pt-90 {padding-top: 90vw;}
.pt-91 {padding-top: 91vw;}
.pt-92 {padding-top: 92vw;}
.pt-93 {padding-top: 93vw;}
.pt-94 {padding-top: 94vw;}
.pt-95 {padding-top: 95vw;}
.pt-96 {padding-top: 96vw;}
.pt-97 {padding-top: 97vw;}
.pt-98 {padding-top: 98vw;}
.pt-99 {padding-top: 99vw;}
.pt-100 {padding-top: 100vw;}

.pr-01 {padding-right: 1vw;}
.pr-02 {padding-right: 2vw;}
.pr-03 {padding-right: 3vw;}
.pr-04 {padding-right: 4vw;}
.pr-05 {padding-right: 5vw;}
.pr-06 {padding-right: 6vw;}
.pr-07 {padding-right: 7vw;}
.pr-08 {padding-right: 8vw;}
.pr-09 {padding-right: 9vw;}
.pr-10 {padding-right: 10vw;}
.pr-11 {padding-right: 11vw;}
.pr-12 {padding-right: 12vw;}
.pr-13 {padding-right: 13vw;}
.pr-14 {padding-right: 14vw;}
.pr-15 {padding-right: 15vw;}
.pr-16 {padding-right: 16vw;}
.pr-17 {padding-right: 17vw;}
.pr-18 {padding-right: 18vw;}
.pr-19 {padding-right: 19vw;}
.pr-20 {padding-right: 20vw;}
.pr-21 {padding-right: 21vw;}
.pr-22 {padding-right: 22vw;}
.pr-23 {padding-right: 23vw;}
.pr-24 {padding-right: 24vw;}
.pr-25 {padding-right: 25vw;}
.pr-26 {padding-right: 26vw;}
.pr-27 {padding-right: 27vw;}
.pr-28 {padding-right: 28vw;}
.pr-29 {padding-right: 29vw;}
.pr-30 {padding-right: 30vw;}
.pr-31 {padding-right: 31vw;}
.pr-32 {padding-right: 32vw;}
.pr-33 {padding-right: 33vw;}
.pr-34 {padding-right: 34vw;}
.pr-35 {padding-right: 35vw;}
.pr-36 {padding-right: 36vw;}
.pr-37 {padding-right: 37vw;}
.pr-38 {padding-right: 38vw;}
.pr-39 {padding-right: 39vw;}
.pr-40 {padding-right: 40vw;}
.pr-41 {padding-right: 41vw;}
.pr-42 {padding-right: 42vw;}
.pr-43 {padding-right: 43vw;}
.pr-44 {padding-right: 44vw;}
.pr-45 {padding-right: 45vw;}
.pr-46 {padding-right: 46vw;}
.pr-47 {padding-right: 47vw;}
.pr-48 {padding-right: 48vw;}
.pr-49 {padding-right: 49vw;}
.pr-50 {padding-right: 50vw;}
.pr-51 {padding-right: 51vw;}
.pr-52 {padding-right: 52vw;}
.pr-53 {padding-right: 53vw;}
.pr-54 {padding-right: 54vw;}
.pr-55 {padding-right: 55vw;}
.pr-56 {padding-right: 56vw;}
.pr-57 {padding-right: 57vw;}
.pr-58 {padding-right: 58vw;}
.pr-59 {padding-right: 59vw;}
.pr-60 {padding-right: 60vw;}
.pr-61 {padding-right: 61vw;}
.pr-62 {padding-right: 62vw;}
.pr-63 {padding-right: 63vw;}
.pr-64 {padding-right: 64vw;}
.pr-65 {padding-right: 65vw;}
.pr-66 {padding-right: 66vw;}
.pr-67 {padding-right: 67vw;}
.pr-68 {padding-right: 68vw;}
.pr-69 {padding-right: 69vw;}
.pr-70 {padding-right: 70vw;}
.pr-71 {padding-right: 71vw;}
.pr-72 {padding-right: 72vw;}
.pr-73 {padding-right: 73vw;}
.pr-74 {padding-right: 74vw;}
.pr-75 {padding-right: 75vw;}
.pr-76 {padding-right: 76vw;}
.pr-77 {padding-right: 77vw;}
.pr-78 {padding-right: 78vw;}
.pr-79 {padding-right: 79vw;}
.pr-80 {padding-right: 80vw;}
.pr-81 {padding-right: 81vw;}
.pr-82 {padding-right: 82vw;}
.pr-83 {padding-right: 83vw;}
.pr-84 {padding-right: 84vw;}
.pr-85 {padding-right: 85vw;}
.pr-86 {padding-right: 86vw;}
.pr-87 {padding-right: 87vw;}
.pr-88 {padding-right: 88vw;}
.pr-89 {padding-right: 89vw;}
.pr-90 {padding-right: 90vw;}
.pr-91 {padding-right: 91vw;}
.pr-92 {padding-right: 92vw;}
.pr-93 {padding-right: 93vw;}
.pr-94 {padding-right: 94vw;}
.pr-95 {padding-right: 95vw;}
.pr-96 {padding-right: 96vw;}
.pr-97 {padding-right: 97vw;}
.pr-98 {padding-right: 98vw;}
.pr-99 {padding-right: 99vw;}
.pr-100 {padding-right: 100vw;}

.pb-01 {padding-bottom: 1vw;}
.pb-02 {padding-bottom: 2vw;}
.pb-03 {padding-bottom: 3vw;}
.pb-04 {padding-bottom: 4vw;}
.pb-05 {padding-bottom: 5vw;}
.pb-06 {padding-bottom: 6vw;}
.pb-07 {padding-bottom: 7vw;}
.pb-08 {padding-bottom: 8vw;}
.pb-09 {padding-bottom: 9vw;}
.pb-10 {padding-bottom: 10vw;}
.pb-11 {padding-bottom: 11vw;}
.pb-12 {padding-bottom: 12vw;}
.pb-13 {padding-bottom: 13vw;}
.pb-14 {padding-bottom: 14vw;}
.pb-15 {padding-bottom: 15vw;}
.pb-16 {padding-bottom: 16vw;}
.pb-17 {padding-bottom: 17vw;}
.pb-18 {padding-bottom: 18vw;}
.pb-19 {padding-bottom: 19vw;}
.pb-20 {padding-bottom: 20vw;}
.pb-21 {padding-bottom: 21vw;}
.pb-22 {padding-bottom: 22vw;}
.pb-23 {padding-bottom: 23vw;}
.pb-24 {padding-bottom: 24vw;}
.pb-25 {padding-bottom: 25vw;}
.pb-26 {padding-bottom: 26vw;}
.pb-27 {padding-bottom: 27vw;}
.pb-28 {padding-bottom: 28vw;}
.pb-29 {padding-bottom: 29vw;}
.pb-30 {padding-bottom: 30vw;}
.pb-31 {padding-bottom: 31vw;}
.pb-32 {padding-bottom: 32vw;}
.pb-33 {padding-bottom: 33vw;}
.pb-34 {padding-bottom: 34vw;}
.pb-35 {padding-bottom: 35vw;}
.pb-36 {padding-bottom: 36vw;}
.pb-37 {padding-bottom: 37vw;}
.pb-38 {padding-bottom: 38vw;}
.pb-39 {padding-bottom: 39vw;}
.pb-40 {padding-bottom: 40vw;}
.pb-41 {padding-bottom: 41vw;}
.pb-42 {padding-bottom: 42vw;}
.pb-43 {padding-bottom: 43vw;}
.pb-44 {padding-bottom: 44vw;}
.pb-45 {padding-bottom: 45vw;}
.pb-46 {padding-bottom: 46vw;}
.pb-47 {padding-bottom: 47vw;}
.pb-48 {padding-bottom: 48vw;}
.pb-49 {padding-bottom: 49vw;}
.pb-50 {padding-bottom: 50vw;}
.pb-51 {padding-bottom: 51vw;}
.pb-52 {padding-bottom: 52vw;}
.pb-53 {padding-bottom: 53vw;}
.pb-54 {padding-bottom: 54vw;}
.pb-55 {padding-bottom: 55vw;}
.pb-56 {padding-bottom: 56vw;}
.pb-57 {padding-bottom: 57vw;}
.pb-58 {padding-bottom: 58vw;}
.pb-59 {padding-bottom: 59vw;}
.pb-60 {padding-bottom: 60vw;}
.pb-61 {padding-bottom: 61vw;}
.pb-62 {padding-bottom: 62vw;}
.pb-63 {padding-bottom: 63vw;}
.pb-64 {padding-bottom: 64vw;}
.pb-65 {padding-bottom: 65vw;}
.pb-66 {padding-bottom: 66vw;}
.pb-67 {padding-bottom: 67vw;}
.pb-68 {padding-bottom: 68vw;}
.pb-69 {padding-bottom: 69vw;}
.pb-70 {padding-bottom: 70vw;}
.pb-71 {padding-bottom: 71vw;}
.pb-72 {padding-bottom: 72vw;}
.pb-73 {padding-bottom: 73vw;}
.pb-74 {padding-bottom: 74vw;}
.pb-75 {padding-bottom: 75vw;}
.pb-76 {padding-bottom: 76vw;}
.pb-77 {padding-bottom: 77vw;}
.pb-78 {padding-bottom: 78vw;}
.pb-79 {padding-bottom: 79vw;}
.pb-80 {padding-bottom: 80vw;}
.pb-81 {padding-bottom: 81vw;}
.pb-82 {padding-bottom: 82vw;}
.pb-83 {padding-bottom: 83vw;}
.pb-84 {padding-bottom: 84vw;}
.pb-85 {padding-bottom: 85vw;}
.pb-86 {padding-bottom: 86vw;}
.pb-87 {padding-bottom: 87vw;}
.pb-88 {padding-bottom: 88vw;}
.pb-89 {padding-bottom: 89vw;}
.pb-90 {padding-bottom: 90vw;}
.pb-91 {padding-bottom: 91vw;}
.pb-92 {padding-bottom: 92vw;}
.pb-93 {padding-bottom: 93vw;}
.pb-94 {padding-bottom: 94vw;}
.pb-95 {padding-bottom: 95vw;}
.pb-96 {padding-bottom: 96vw;}
.pb-97 {padding-bottom: 97vw;}
.pb-98 {padding-bottom: 98vw;}
.pb-99 {padding-bottom: 99vw;}
.pb-100 {padding-bottom: 100vw;}

.pl-01 {padding-left: 1vw;}
.pl-02 {padding-left: 2vw;}
.pl-03 {padding-left: 3vw;}
.pl-04 {padding-left: 4vw;}
.pl-05 {padding-left: 5vw;}
.pl-06 {padding-left: 6vw;}
.pl-07 {padding-left: 7vw;}
.pl-08 {padding-left: 8vw;}
.pl-09 {padding-left: 9vw;}
.pl-10 {padding-left: 10vw;}
.pl-11 {padding-left: 11vw;}
.pl-12 {padding-left: 12vw;}
.pl-13 {padding-left: 13vw;}
.pl-14 {padding-left: 14vw;}
.pl-15 {padding-left: 15vw;}
.pl-16 {padding-left: 16vw;}
.pl-17 {padding-left: 17vw;}
.pl-18 {padding-left: 18vw;}
.pl-19 {padding-left: 19vw;}
.pl-20 {padding-left: 20vw;}
.pl-21 {padding-left: 21vw;}
.pl-22 {padding-left: 22vw;}
.pl-23 {padding-left: 23vw;}
.pl-24 {padding-left: 24vw;}
.pl-25 {padding-left: 25vw;}
.pl-26 {padding-left: 26vw;}
.pl-27 {padding-left: 27vw;}
.pl-28 {padding-left: 28vw;}
.pl-29 {padding-left: 29vw;}
.pl-30 {padding-left: 30vw;}
.pl-31 {padding-left: 31vw;}
.pl-32 {padding-left: 32vw;}
.pl-33 {padding-left: 33vw;}
.pl-34 {padding-left: 34vw;}
.pl-35 {padding-left: 35vw;}
.pl-36 {padding-left: 36vw;}
.pl-37 {padding-left: 37vw;}
.pl-38 {padding-left: 38vw;}
.pl-39 {padding-left: 39vw;}
.pl-40 {padding-left: 40vw;}
.pl-41 {padding-left: 41vw;}
.pl-42 {padding-left: 42vw;}
.pl-43 {padding-left: 43vw;}
.pl-44 {padding-left: 44vw;}
.pl-45 {padding-left: 45vw;}
.pl-46 {padding-left: 46vw;}
.pl-47 {padding-left: 47vw;}
.pl-48 {padding-left: 48vw;}
.pl-49 {padding-left: 49vw;}
.pl-50 {padding-left: 50vw;}
.pl-51 {padding-left: 51vw;}
.pl-52 {padding-left: 52vw;}
.pl-53 {padding-left: 53vw;}
.pl-54 {padding-left: 54vw;}
.pl-55 {padding-left: 55vw;}
.pl-56 {padding-left: 56vw;}
.pl-57 {padding-left: 57vw;}
.pl-58 {padding-left: 58vw;}
.pl-59 {padding-left: 59vw;}
.pl-60 {padding-left: 60vw;}
.pl-61 {padding-left: 61vw;}
.pl-62 {padding-left: 62vw;}
.pl-63 {padding-left: 63vw;}
.pl-64 {padding-left: 64vw;}
.pl-65 {padding-left: 65vw;}
.pl-66 {padding-left: 66vw;}
.pl-67 {padding-left: 67vw;}
.pl-68 {padding-left: 68vw;}
.pl-69 {padding-left: 69vw;}
.pl-70 {padding-left: 70vw;}
.pl-71 {padding-left: 71vw;}
.pl-72 {padding-left: 72vw;}
.pl-73 {padding-left: 73vw;}
.pl-74 {padding-left: 74vw;}
.pl-75 {padding-left: 75vw;}
.pl-76 {padding-left: 76vw;}
.pl-77 {padding-left: 77vw;}
.pl-78 {padding-left: 78vw;}
.pl-79 {padding-left: 79vw;}
.pl-80 {padding-left: 80vw;}
.pl-81 {padding-left: 81vw;}
.pl-82 {padding-left: 82vw;}
.pl-83 {padding-left: 83vw;}
.pl-84 {padding-left: 84vw;}
.pl-85 {padding-left: 85vw;}
.pl-86 {padding-left: 86vw;}
.pl-87 {padding-left: 87vw;}
.pl-88 {padding-left: 88vw;}
.pl-89 {padding-left: 89vw;}
.pl-90 {padding-left: 90vw;}
.pl-91 {padding-left: 91vw;}
.pl-92 {padding-left: 92vw;}
.pl-93 {padding-left: 93vw;}
.pl-94 {padding-left: 94vw;}
.pl-95 {padding-left: 95vw;}
.pl-96 {padding-left: 96vw;}
.pl-97 {padding-left: 97vw;}
.pl-98 {padding-left: 98vw;}
.pl-99 {padding-left: 99vw;}
.pl-100 {padding-left: 100vw;}