.shadow-0 {
    filter: drop-shadow(4px 4px 0px rgb(128, 128, 128));
}

.shadow-1 {
    filter: drop-shadow(4px 4px 1px rgb(128, 128, 128));
}

.shadow-2 {
    filter: drop-shadow(4px 4px 4px rgb(128, 128, 128));
}

.shadow-3 {
    filter: drop-shadow(4px 4px 9px rgb(128, 128, 128));
}

.shadow-4 {
    filter: drop-shadow(4px 4px 16px rgb(128, 128, 128));
}

.shadow-5 {
    filter: drop-shadow(4px 4px 25px rgb(128, 128, 128));
}

.box-shadow-1w {
    box-shadow: 0px 0px 8px #fff;
}

.box-shadow-2w {
    box-shadow: 0px 0px 16px #fff,0px 0px 8px #fff;
}

.box-shadow-3w {
    box-shadow: 0px 0px 24px #fff,0px 0px 16px #fff,0px 0px 8px #fff;
}

.box-shadow-1b {
    box-shadow: 0px 0px 8px #000;
}

.box-shadow-2b {
    box-shadow: 0px 0px 16px #000,0px 0px 8px #000;
}

.box-shadow-3b {
    box-shadow: 0px 0px 24px #000,0px 0px 16px #000,0px 0px 8px #000;
}

.text-shadow-1w {
    text-shadow: 0px 0px 8px #fff;
}

.text-shadow-2w {
    text-shadow: 0px 0px 16px #fff;
}

.text-shadow-3w {
    text-shadow: 0px 0px 24px #fff;
}

.text-shadow-1b {
    text-shadow: 0px 0px 2px #000;
}

.text-shadow-2b {
    text-shadow: 0px 0px 4px #000;
}

.text-shadow-3b {
    text-shadow: 0px 0px 8px #000;
}



.box-shadow {
    box-shadow: -9px -3px 30px rgba(0, 0, 0, 0.07);
}

.box-shadow-2 {
    box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 24%);
}

.text-shadow {
    text-shadow: 1px 1px 2px pink;
}

.text-shadow-f {
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.text-shadow-0 {
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.text-rgb {
    text-shadow: #ff000060 1px 2px, #000060 -1px -2px, yellow 0 0 4px;
}