:root {
    --secondary-color: #ff00ff;
    --background-color: #111;
    --text-color: #fff;
    --sidebar-width: clamp(30px, 60vw, 400px);
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow-y: auto;
}

.left-sidebar {
    left: 0;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: clamp(8px, 6vw, 20px);
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-size: clamp(8px, 3.5vw, 20px);
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: var(--secondary-color);
}

.toggle-button {
    position: fixed;
    top: 10px;
    z-index: 1001;
    background-color: #00ffff1b;
    color: var(--background-color);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: left 0.3s ease, right 0.3s ease;
}

#left-toggle {
    left: 10px;
}

#left-toggle.sidebar-open {
    left: calc(var(--sidebar-width) + 10px);
}