#stalker {
    pointer-events: none;
    position: fixed;
    top: calc(-5vw/2);
    left: calc(-5vw/2);
    width: 5vw;
    height: 5vw;
    background: radial-gradient(rgba(118, 71, 226, 0.333), rgba(220, 221, 252, 0.333));
    border-radius: 50%;
    transform: translate(0,0);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 999;
    mix-blend-mode: difference;
}

@media screen and (max-width: 420px) {
    #stalker {
        top: calc(-7vw/2);
        left: calc(-7vw/2);
        width: 7vw;
        height: 7vw;
    }
}