/*
<div class="preview">
        <div class="preview_image">
            <div class="src on-img1"></div>
        </div> 
        <h2 class="preview_title">kotori_Lab <br>HTML/CSS Codes</h2>
</div>
*/

.preview {
    --size: 6.6vw; /*背景サイズ*/
    max-width: 800px; /*最大サイズ*/
    max-height: 800px; /*最大サイズ*/
    z-index: 1;
    right: 0;
    top: 0;
    margin: 0 0 0 auto;
    width: calc(var(--size) * 8 + 90px);
    height: calc(var(--size) * 8 + 90px);
    perspective: 500px;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.3,.1,.1,1);
}

.preview_image {
    --size: 6.6vw; /*要素サイズ*/
    transform: rotateY(-16deg) translateY(-50%); /*要素角度*/
    position: absolute;
    right: var(--size);
    top: 50%;
    width: calc(var(--size) * 6 + 50px);
    max-width: 600px;
    aspect-ratio: 1;
    background-image: url(../img/ptn.png);
    background-size: 8px 8px;
    background-repeat: repeat;
    border: 1px solid #1a1a1a;
    transform-origin: right center;
}

.preview_title {
    transform: rotateY(8deg) translateY(-50%); /*要素角度*/
    font-size: clamp(0px,3vw + 5px, 50px); /*テキストサイズ*/
    right: calc(20vw + 50px); /*テキスト位置*/
    top: calc(50% + 30px); /*テキスト位置*/
    position: absolute;
    transform-origin: left center;
    text-transform: uppercase;
    letter-spacing: -.04em;
    white-space: pre-line;
    filter: drop-shadow(0px 0px 4px #909090) invert(100%);
}

.src {
    width: 90%;
    height: 90%;
    margin: 5%;
}










.dark-mod {
    width: 100%;
    height: 100%;
    backdrop-filter: invert(100%);
    position: absolute;
    z-index: 999;
}

.dark-mod-c {
    background-size: cover;
    filter: invert(100%);
    z-index: 999;
}

.accordion-header {
    cursor: pointer;
}

.content_company {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.ani {
    transition: all 0.5s;
    transition-timing-function: ease-out;
}

.image-blocks img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    transition: all 300ms;
}
.image-blocks img:hover {
transform: translateY(-5px);
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.08);
}

.fit {
    width: fit-content;
}

.yoko-c {
    align-items: center;
}

/*p*/

p {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    background: transparent;/*背景透明に*/
    border-left: solid clamp(2px, 1vw, 8px) #7db4e6;/*左線*/
}

/*p*/

/*user-select*/

.us-n {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.us-o {
    user-select: all;
    -webkit-user-select: all;
}

/*user-select*/

/*scale:hover*/

.sc-80:hover {
    transition: 0.3s;
    transform: scale(0.8);
}

.sc-100:hover {
    transition: 0.3s;
    transform: scale(1);
}

.sc-120:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

/*scale:hover*/

/*marukado*/

.marukado {
    border-radius: 30px;
}
.marukado-1 {
    border-radius: 20px 0 0 0;
}
.marukado-2 {
    border-radius: 0 20px 0 0;
}
.marukado-3 {
    border-radius: 0 0 20px 0;
}
.marukado-4 {
    border-radius: 0 0 0 20px;
}
.marukado-5 {
    border-radius: 20px 20px 0 0;
}
.marukado-6 {
    border-radius: 0 20px 20px 0;
}
.marukado-7 {
    border-radius: 0 0 0 20px;
}
.marukado-8 {
    border-radius: 0 0 0 20px;
}

/*marukado*/


/*load*/

#loading {
    transition: all 1.2s;
    background-color: #1d2630;
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
    pointer-events: none; 
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

/*load*/

/* KEYFRAMES */

@keyframes spin {
    from {
    transform: rotate(0);
    }
    to{
    transform: rotate(359deg);
    }
}

@keyframes spin3D {
    from {
    transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
    transform: rotate3d(0deg);
    }
}

@keyframes configure-clockwise {
    0% {
    transform: rotate(0);
    }
    25% {
    transform: rotate(90deg);
    }
    50% {
    transform: rotate(180deg);
    }
    75% {
    transform: rotate(270deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
    transform: rotate(45deg);
    }
    25% {
    transform: rotate(-45deg);
    }
    50% {
    transform: rotate(-135deg);
    }
    75% {
    transform: rotate(-225deg);
    }
    100% {
    transform: rotate(-315deg);
    }
}

@keyframes pulse {
    from {
    opacity: 1;
    transform: scale(1);
    }
    to {
    opacity: .25;
    transform: scale(.75);
    }
}

/* GRID STYLING */

.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* ALTERNATING ORBITS */

.circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin .8s linear 0s infinite;
}

.circle-core {
    width: 100%;
    height: 100%;
    background-color: #1d2630d3;
    border-radius: 50%;
}

a:hover {
    color: var(--hover);
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.div1 {
    grid-column: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 1;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 2;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 3;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 4;
}

.div11 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 5;
}