/*top*/
.t-00 {top: 0;}
.t-01 {top: 1vw;}
.t-02 {top: 2vw;}
.t-03 {top: 3vw;}
.t-04 {top: 4vw;}
.t-05 {top: 5vw;}
.t-06 {top: 6vw;}
.t-07 {top: 7vw;}
.t-08 {top: 8vw;}
.t-09 {top: 9vw;}
.t-10 {top: 10vw;}
.t-11 {top: 11vw;}
.t-12 {top: 12vw;}
.t-13 {top: 13vw;}
.t-14 {top: 14vw;}
.t-15 {top: 15vw;}
.t-16 {top: 16vw;}
.t-17 {top: 17vw;}
.t-18 {top: 18vw;}
.t-19 {top: 19vw;}
.t-20 {top: 20vw;}
.t-21 {top: 21vw;}
.t-22 {top: 22vw;}
.t-23 {top: 23vw;}
.t-24 {top: 24vw;}
.t-25 {top: 25vw;}
.t-26 {top: 26vw;}
.t-27 {top: 27vw;}
.t-28 {top: 28vw;}
.t-29 {top: 29vw;}
.t-30 {top: 30vw;}
.t-31 {top: 31vw;}
.t-32 {top: 32vw;}
.t-33 {top: 33vw;}
.t-34 {top: 34vw;}
.t-35 {top: 35vw;}
.t-36 {top: 36vw;}
.t-37 {top: 37vw;}
.t-38 {top: 38vw;}
.t-39 {top: 39vw;}
.t-40 {top: 40vw;}
.t-41 {top: 41vw;}
.t-42 {top: 42vw;}
.t-43 {top: 43vw;}
.t-44 {top: 44vw;}
.t-45 {top: 45vw;}
.t-46 {top: 46vw;}
.t-47 {top: 47vw;}
.t-48 {top: 48vw;}
.t-49 {top: 49vw;}
.t-50 {top: 50vw;}
.t-51 {top: 51vw;}
.t-52 {top: 52vw;}
.t-53 {top: 53vw;}
.t-54 {top: 54vw;}
.t-55 {top: 55vw;}
.t-56 {top: 56vw;}
.t-57 {top: 57vw;}
.t-58 {top: 58vw;}
.t-59 {top: 59vw;}
.t-60 {top: 60vw;}
.t-61 {top: 61vw;}
.t-62 {top: 62vw;}
.t-63 {top: 63vw;}
.t-64 {top: 64vw;}
.t-65 {top: 65vw;}
.t-66 {top: 66vw;}
.t-67 {top: 67vw;}
.t-68 {top: 68vw;}
.t-69 {top: 69vw;}
.t-70 {top: 70vw;}
.t-71 {top: 71vw;}
.t-72 {top: 72vw;}
.t-73 {top: 73vw;}
.t-74 {top: 74vw;}
.t-75 {top: 75vw;}
.t-76 {top: 76vw;}
.t-77 {top: 77vw;}
.t-78 {top: 78vw;}
.t-79 {top: 79vw;}
.t-80 {top: 80vw;}
.t-81 {top: 81vw;}
.t-82 {top: 82vw;}
.t-83 {top: 83vw;}
.t-84 {top: 84vw;}
.t-85 {top: 85vw;}
.t-86 {top: 86vw;}
.t-87 {top: 87vw;}
.t-88 {top: 88vw;}
.t-89 {top: 89vw;}
.t-90 {top: 90vw;}
.t-91 {top: 91vw;}
.t-92 {top: 92vw;}
.t-93 {top: 93vw;}
.t-94 {top: 94vw;}
.t-95 {top: 95vw;}
.t-96 {top: 96vw;}
.t-97 {top: 97vw;}
.t-98 {top: 98vw;}
.t-99 {top: 99vw;}
.t-100 {top: 100vw;}

.r-00 {right: 0;}
.r-01 {right: 1vw;}
.r-02 {right: 2vw;}
.r-03 {right: 3vw;}
.r-04 {right: 4vw;}
.r-05 {right: 5vw;}
.r-06 {right: 6vw;}
.r-07 {right: 7vw;}
.r-08 {right: 8vw;}
.r-09 {right: 9vw;}
.r-10 {right: 10vw;}
.r-11 {right: 11vw;}
.r-12 {right: 12vw;}
.r-13 {right: 13vw;}
.r-14 {right: 14vw;}
.r-15 {right: 15vw;}
.r-16 {right: 16vw;}
.r-17 {right: 17vw;}
.r-18 {right: 18vw;}
.r-19 {right: 19vw;}
.r-20 {right: 20vw;}
.r-21 {right: 21vw;}
.r-22 {right: 22vw;}
.r-23 {right: 23vw;}
.r-24 {right: 24vw;}
.r-25 {right: 25vw;}
.r-26 {right: 26vw;}
.r-27 {right: 27vw;}
.r-28 {right: 28vw;}
.r-29 {right: 29vw;}
.r-30 {right: 30vw;}
.r-31 {right: 31vw;}
.r-32 {right: 32vw;}
.r-33 {right: 33vw;}
.r-34 {right: 34vw;}
.r-35 {right: 35vw;}
.r-36 {right: 36vw;}
.r-37 {right: 37vw;}
.r-38 {right: 38vw;}
.r-39 {right: 39vw;}
.r-40 {right: 40vw;}
.r-41 {right: 41vw;}
.r-42 {right: 42vw;}
.r-43 {right: 43vw;}
.r-44 {right: 44vw;}
.r-45 {right: 45vw;}
.r-46 {right: 46vw;}
.r-47 {right: 47vw;}
.r-48 {right: 48vw;}
.r-49 {right: 49vw;}
.r-50 {right: 50vw;}
.r-51 {right: 51vw;}
.r-52 {right: 52vw;}
.r-53 {right: 53vw;}
.r-54 {right: 54vw;}
.r-55 {right: 55vw;}
.r-56 {right: 56vw;}
.r-57 {right: 57vw;}
.r-58 {right: 58vw;}
.r-59 {right: 59vw;}
.r-60 {right: 60vw;}
.r-61 {right: 61vw;}
.r-62 {right: 62vw;}
.r-63 {right: 63vw;}
.r-64 {right: 64vw;}
.r-65 {right: 65vw;}
.r-66 {right: 66vw;}
.r-67 {right: 67vw;}
.r-68 {right: 68vw;}
.r-69 {right: 69vw;}
.r-70 {right: 70vw;}
.r-71 {right: 71vw;}
.r-72 {right: 72vw;}
.r-73 {right: 73vw;}
.r-74 {right: 74vw;}
.r-75 {right: 75vw;}
.r-76 {right: 76vw;}
.r-77 {right: 77vw;}
.r-78 {right: 78vw;}
.r-79 {right: 79vw;}
.r-80 {right: 80vw;}
.r-81 {right: 81vw;}
.r-82 {right: 82vw;}
.r-83 {right: 83vw;}
.r-84 {right: 84vw;}
.r-85 {right: 85vw;}
.r-86 {right: 86vw;}
.r-87 {right: 87vw;}
.r-88 {right: 88vw;}
.r-89 {right: 89vw;}
.r-90 {right: 90vw;}
.r-91 {right: 91vw;}
.r-92 {right: 92vw;}
.r-93 {right: 93vw;}
.r-94 {right: 94vw;}
.r-95 {right: 95vw;}
.r-96 {right: 96vw;}
.r-97 {right: 97vw;}
.r-98 {right: 98vw;}
.r-99 {right: 99vw;}
.r-100 {right: 100vw;}

.b-00 {bottom: 0;}
.b-01 {bottom: 1vw;}
.b-02 {bottom: 2vw;}
.b-03 {bottom: 3vw;}
.b-04 {bottom: 4vw;}
.b-05 {bottom: 5vw;}
.b-06 {bottom: 6vw;}
.b-07 {bottom: 7vw;}
.b-08 {bottom: 8vw;}
.b-09 {bottom: 9vw;}
.b-10 {bottom: 10vw;}
.b-11 {bottom: 11vw;}
.b-12 {bottom: 12vw;}
.b-13 {bottom: 13vw;}
.b-14 {bottom: 14vw;}
.b-15 {bottom: 15vw;}
.b-16 {bottom: 16vw;}
.b-17 {bottom: 17vw;}
.b-18 {bottom: 18vw;}
.b-19 {bottom: 19vw;}
.b-20 {bottom: 20vw;}
.b-21 {bottom: 21vw;}
.b-22 {bottom: 22vw;}
.b-23 {bottom: 23vw;}
.b-24 {bottom: 24vw;}
.b-25 {bottom: 25vw;}
.b-26 {bottom: 26vw;}
.b-27 {bottom: 27vw;}
.b-28 {bottom: 28vw;}
.b-29 {bottom: 29vw;}
.b-30 {bottom: 30vw;}
.b-31 {bottom: 31vw;}
.b-32 {bottom: 32vw;}
.b-33 {bottom: 33vw;}
.b-34 {bottom: 34vw;}
.b-35 {bottom: 35vw;}
.b-36 {bottom: 36vw;}
.b-37 {bottom: 37vw;}
.b-38 {bottom: 38vw;}
.b-39 {bottom: 39vw;}
.b-40 {bottom: 40vw;}
.b-41 {bottom: 41vw;}
.b-42 {bottom: 42vw;}
.b-43 {bottom: 43vw;}
.b-44 {bottom: 44vw;}
.b-45 {bottom: 45vw;}
.b-46 {bottom: 46vw;}
.b-47 {bottom: 47vw;}
.b-48 {bottom: 48vw;}
.b-49 {bottom: 49vw;}
.b-50 {bottom: 50vw;}
.b-51 {bottom: 51vw;}
.b-52 {bottom: 52vw;}
.b-53 {bottom: 53vw;}
.b-54 {bottom: 54vw;}
.b-55 {bottom: 55vw;}
.b-56 {bottom: 56vw;}
.b-57 {bottom: 57vw;}
.b-58 {bottom: 58vw;}
.b-59 {bottom: 59vw;}
.b-60 {bottom: 60vw;}
.b-61 {bottom: 61vw;}
.b-62 {bottom: 62vw;}
.b-63 {bottom: 63vw;}
.b-64 {bottom: 64vw;}
.b-65 {bottom: 65vw;}
.b-66 {bottom: 66vw;}
.b-67 {bottom: 67vw;}
.b-68 {bottom: 68vw;}
.b-69 {bottom: 69vw;}
.b-70 {bottom: 70vw;}
.b-71 {bottom: 71vw;}
.b-72 {bottom: 72vw;}
.b-73 {bottom: 73vw;}
.b-74 {bottom: 74vw;}
.b-75 {bottom: 75vw;}
.b-76 {bottom: 76vw;}
.b-77 {bottom: 77vw;}
.b-78 {bottom: 78vw;}
.b-79 {bottom: 79vw;}
.b-80 {bottom: 80vw;}
.b-81 {bottom: 81vw;}
.b-82 {bottom: 82vw;}
.b-83 {bottom: 83vw;}
.b-84 {bottom: 84vw;}
.b-85 {bottom: 85vw;}
.b-86 {bottom: 86vw;}
.b-87 {bottom: 87vw;}
.b-88 {bottom: 88vw;}
.b-89 {bottom: 89vw;}
.b-90 {bottom: 90vw;}
.b-91 {bottom: 91vw;}
.b-92 {bottom: 92vw;}
.b-93 {bottom: 93vw;}
.b-94 {bottom: 94vw;}
.b-95 {bottom: 95vw;}
.b-96 {bottom: 96vw;}
.b-97 {bottom: 97vw;}
.b-98 {bottom: 98vw;}
.b-99 {bottom: 99vw;}
.b-100 {bottom: 100vw;}

.l-00 {left: 0;}
.l-01 {left: 1vw;}
.l-02 {left: 2vw;}
.l-03 {left: 3vw;}
.l-04 {left: 4vw;}
.l-05 {left: 5vw;}
.l-06 {left: 6vw;}
.l-07 {left: 7vw;}
.l-08 {left: 8vw;}
.l-09 {left: 9vw;}
.l-10 {left: 10vw;}
.l-11 {left: 11vw;}
.l-12 {left: 12vw;}
.l-13 {left: 13vw;}
.l-14 {left: 14vw;}
.l-15 {left: 15vw;}
.l-16 {left: 16vw;}
.l-17 {left: 17vw;}
.l-18 {left: 18vw;}
.l-19 {left: 19vw;}
.l-20 {left: 20vw;}
.l-21 {left: 21vw;}
.l-22 {left: 22vw;}
.l-23 {left: 23vw;}
.l-24 {left: 24vw;}
.l-25 {left: 25vw;}
.l-26 {left: 26vw;}
.l-27 {left: 27vw;}
.l-28 {left: 28vw;}
.l-29 {left: 29vw;}
.l-30 {left: 30vw;}
.l-31 {left: 31vw;}
.l-32 {left: 32vw;}
.l-33 {left: 33vw;}
.l-34 {left: 34vw;}
.l-35 {left: 35vw;}
.l-36 {left: 36vw;}
.l-37 {left: 37vw;}
.l-38 {left: 38vw;}
.l-39 {left: 39vw;}
.l-40 {left: 40vw;}
.l-41 {left: 41vw;}
.l-42 {left: 42vw;}
.l-43 {left: 43vw;}
.l-44 {left: 44vw;}
.l-45 {left: 45vw;}
.l-46 {left: 46vw;}
.l-47 {left: 47vw;}
.l-48 {left: 48vw;}
.l-49 {left: 49vw;}
.l-50 {left: 50vw;}
.l-51 {left: 51vw;}
.l-52 {left: 52vw;}
.l-53 {left: 53vw;}
.l-54 {left: 54vw;}
.l-55 {left: 55vw;}
.l-56 {left: 56vw;}
.l-57 {left: 57vw;}
.l-58 {left: 58vw;}
.l-59 {left: 59vw;}
.l-60 {left: 60vw;}
.l-61 {left: 61vw;}
.l-62 {left: 62vw;}
.l-63 {left: 63vw;}
.l-64 {left: 64vw;}
.l-65 {left: 65vw;}
.l-66 {left: 66vw;}
.l-67 {left: 67vw;}
.l-68 {left: 68vw;}
.l-69 {left: 69vw;}
.l-70 {left: 70vw;}
.l-71 {left: 71vw;}
.l-72 {left: 72vw;}
.l-73 {left: 73vw;}
.l-74 {left: 74vw;}
.l-75 {left: 75vw;}
.l-76 {left: 76vw;}
.l-77 {left: 77vw;}
.l-78 {left: 78vw;}
.l-79 {left: 79vw;}
.l-80 {left: 80vw;}
.l-81 {left: 81vw;}
.l-82 {left: 82vw;}
.l-83 {left: 83vw;}
.l-84 {left: 84vw;}
.l-85 {left: 85vw;}
.l-86 {left: 86vw;}
.l-87 {left: 87vw;}
.l-88 {left: 88vw;}
.l-89 {left: 89vw;}
.l-90 {left: 90vw;}
.l-91 {left: 91vw;}
.l-92 {left: 92vw;}
.l-93 {left: 93vw;}
.l-94 {left: 94vw;}
.l-95 {left: 95vw;}
.l-96 {left: 96vw;}
.l-97 {left: 97vw;}
.l-98 {left: 98vw;}
.l-99 {left: 99vw;}
.l-100 {left: 100vw;}